<html>
<meta charset="UTF-8">
<head>
<title> Form</title>
</head>
<body>
    <table id="table">
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Age</th>
        </tr>
        <tr>
                <td>
                        <%= Name %>
                    </td>
                    <td>
                        <%= Password %>
                    </td>
                    <td>
                        <%= Age %>
                    </td>
        </tr>

    </table>
</body>

</html>