<html>
<meta charset="UTF-8">
<head>
<title> Form</title>
</head>
<body>
    <table id="table">
        <tr>
            <th>Name</th>
            <th>Password</th>
            <th>Age</th>
        </tr>
    </tr>
    <% for(var i = 0;i <accounts.length; i++ ) {%>
        <tr>
            <td>
                <%= accounts[i].Name %>
            </td>
            <td>
                <%= accounts[i].Password %>
            </td>
            <td>
                <%= accounts[i].Age %>
            </td>
        </tr>
        <%}%>

    </table>
</body>

</html>